@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400|Roboto:400,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto","Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.5;
  color:#000;
  background:white;
}

/* base layout */
#wrapper {
  max-width: 960px;
  margin: 30px auto;
  padding: 0 15px;
  min-height: 300px;
}

#input-form .input-text{
  display: flex;
  align-items: center;
}

#input-form .input-text + .input-text,
#input-form .input-text + .submit{
  margin-top:1rem;
}
